<section class="about-main">
  <div class="about-main-text">
    <h1 class="title">About</span>
    <h2 class="sub">The Keystone Advantage</span>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="About" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>


<section class="about-history">
  <span class="title">History</span>
  <div class="description">
    <span>
      Keystone is a boutique education firm based in Seoul, Korea which provides two distinct services under Keystone Education Consulting and Keystone Test Prep Center. We provide a wide range of services from test prep (SAT, SAT II, SSAT, AP, iBT) to customized college consulting programs. Since our founding, we have successfully helped hundreds of students from many different countries (US, HK, Singapore, Korea, England, etc.) get into top universities in the world mostly in the US. 
    </span> 
    <span>
      Keystone Education Consulting was founded in 2006 with the purpose of providing high-end, boutique education consulting packages to growing number of students studying abroad. We offer comprehensive, systematic consulting packages that are tailored specific to the student’s individual needs. We manage all aspects of the students life from academics and extracurricular activity development, to career planning and college preparations. Now one of the most prestigious of its kind, Keystone Education Consulting caters to a very select clientele with high expectations.
    </span>
    <span>
      Keystone Test Prep Center was started to provide top-notch test prep for the SAT, Subject Tests, Advanced Placement Exams, and the TOEFL. We've enjoyed incredible success in helping students improve their scores through rigorous but systematic approach to standardized test preparation. In 2013, Keystone launched the Cornerstone Program, which was designed to develop 6th to 10th grade students' critical thinking and writing skills that are required for standardized tests, as well as advanced high school and college level academics.
    </span>
</section>

<section class="about-timeline">
  <div></div>
  <!-- <span class="title">Start From Here</span>
  <div class="content">
    <div class="line">
      <div class="circle"></div>
    </div>
    <div class="2006">
      <hr class="dotted-line"></hr>
      <span class="year">2006</span>
      <div class="underline"></div>
      <ul class="achievements">
        <li>Founded Keystone Education</li>
        <li>Launched Consulting and College Application Program(CAP)</li>
      </ul>
    </div>
    <div class="2007"></div>
    <div class="2009"></div>
    <div class="2010"></div>
    <div class="2012"></div>
    <div class="2013"></div>
    <div class="2014"></div>
    
  </div> -->
</section>

<section class="about-philosophy">
  <section class="title">
    <span>Our Philosophy</span>
  </section>
  <section class="quote">
    <div class="quotes">
      <!-- <span class="open-quote">"</span>
      <span class="close-quote">"</span> -->
    </div>
    <span class="content">
      Standardized tests can't measure initiative, creativity, imagination, conceptual thinking, curiosity, effort, irony, judgment, commitment, nuance, good will, ethical reflection, or a host of other valuable dispositions and attributes. What they can measure and count are isolated skills, specific facts and function, content knowledge, the least interesting and least significant aspects of learning.
    </span>
    <div class="credit">
      - Bill Ayers, American Education Theorist
    </div>
  </section>

  <section class="test">
    <div class="title">Test Prep Programs</div>
    <div class="content">
      <div class="text">
        <span>
          Of all the obstacles on the road to higher education, standardized tests often fill students with more anxiety and apprehension not to mention stress than any other. Yet, it is also the easiest one to overcome if the student has the right attitude. As Bill Ayers summarized, standardized tests like the SAT and ACT measure isolated skills that can be honed and perfected so that students can reach their maximum potential.
        </span>
        <span>
          Our approach is built on the three Rs: Recognition, Repetition, and Review. We build our test prep programs around these core study habits to help students recognize patterns specific to standardized tests, reinforce understanding through tailored repetition, and inculcate the skills for longevity through offline and online review programs.
        </span>
      </div>
      <img class="diagram" src="../images/about-testprep.png"/>
    </div>
  </section>
  <section class="enrichment">
    <div class="title">Enrichment Programs</div>
    <div class="content">
      <div class="text">
        <span>
          In enrichment programs, we aim to address the very concerns that Bill Ayers allude to. There are different levels of knowledge that a student must master in order to make significant improvement not only in their studies, but their lives.
        </span>
        <span>
          Consultation in the education business is relatively a new industry. But with growing competitiveness of application pool at boarding schools and colleges, the industry has exploded in the last decade with new consulting firms popping up every day. The first to offer the holistic consultation in Korea, Keystone Consulting has enjoyed unparalleled success in placing kids at top boarding schools and universities, but more importantly, we have excelled in placing students in schools where they could succeed. The fit, an often overlooked concept in private consulting, is an important aspect of the services we provide. With such a growing number of students unable to cope with the rigors of the academic institutions they find themselves in, we put a great deal of emphasis on providing an holistic mentorship and guidance that seeks to identify, motivate, and prepare ultimately in order to help students mature and be ready for life in college and beyond.
        </span>
      </div>
      <img class="diagram" src="../images/about-enrichment@2x.png"/>
    </div>
  </section>

</section>
