<section class="bootcamp-main" data-controller="Bootcamp" data-action="initSwitchHero">
  <div class="overlay"></div>
  <div class="bootcamp-main-text">
    <h1 class="title">Bootcamp</span>
    <h2 class="sub"></span>
  </div>
</section>


<section class="text-content">
  <div class="paragraph">
    Daily intensive camp programs for last minute preparation to boost scores before major standardized tests.
  </div>

  <h1>New York Thanksgiving Camp</h1>
  <div class="paragraph">
    While students in the United States celebrate Thanksgiving with family and friends, many international boarding school students are away from home, unable to share this experience with their families. However, with the December SAT exam around the corner, students cannot afford to feel lonely and lethargic during a time when they must remain focused and most productive.
  </div>

  <div class="paragraph">
    In 2007, Keystone introduced Thanksgiving Camp, a 9-day comprehensive college preparation program offered in Tarrytown, New York. Since then, our camp’s reputation continues to grow as a result of our steadfast dedication to our mission: condition the skill-sets that the student has acquired over the summer, and strengthen those weaknesses that stand between the student and their best SAT score possible.
  </div>

  <div class="paragraph">
    Come join us this Thanksgiving, in what will be an intense but rewarding experience, as our family of mentors and teachers help you prepare to enter the next four years of your lives at the University of your dreams.
  </div>

  <h1>Hong Kong Easter Camp</h1>

  <div class="paragraph">
    Keystone’s critically acclaimed, Hong Kong Easter Camp, is a Spring Break intensive course designed to offer the same options in Hong Kong that our Spring Program in Seoul does. Since 2010, we’ve remained the camp of choice for Hong Kong families hoping to boost their student’s academic performance and testing scores.
  </div>

  <div class="paragraph">
    Heavy focus is placed on last minute testing prep for different exams through rigorous testing and review, to ensure that students are able to achieve the highest possible test scores on the May and June exams for the SAT and the SAT / AP Subject tests. Keystone instructors bring with them years of experience and proprietary methods, proven to quickly teach students how to reach their testing potential.
  </div>
  

  <div class="paragraph">
    Now held at our new HK office in One Island South, students from Hong Kong are encouraged to join us for intensive test preparation during Easter Break.
  </div>
</section>







