<section class="bootcamp-main" data-controller="Bootcamp">
  <div class="overlay"></div>
  <div class="bootcamp-main-text">
    <h1 class="title">{{{data.title}}}</span>
    <h2 class="sub">{{{data.tagline}}}</span>
  </div>
</section>
<section class="text-content">
{{#preprocessContent data.content.mainContent}}{{/preprocessContent}}
</section>
