<section class="career-main">
  <div class="career-main-text">
    <h1 class="title">Career</span>
    <h2 class="sub">Growing Together</span>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Career" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>

<section class="career-openings">
  <h1 class="title"> Job Opening</h1>
  <div class="jobs-container">
    <ul class="jobs">
      <li class="job">
        <span class="job-title">Instructors</span>
        <div class="toggle-button"></div>
      </li>
      <li class="job">
        <span class="job-title">Instructors</span>
        <div class="toggle-button"></div>
      </li>
      <li class="job">
        <span class="job-title">Instructors</span>
        <div class="toggle-button"></div>
      </li>
      
    </ul>
  </div>
</section>
