<section class="grade-main">
  <div class="grade-main-text">
    <span class="grades-text">
      Grades
    </span>
    <div class="underline"></div>
    <span class="grades-number">
      5<sup>th</sup> - 8<sup>th</sup>
    </span>
  </div>

</section>



<section class="grade-content" data-controller="Grade5" data-action="initTabs">
  <div role="tabpanel">

    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#cornerstone" aria-controls="home" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon cornerstone"></div>
            <div class="text">
              <span class="category">
                Academic Prep
              </span>
              <div class="underline"></div>
              <span class="title">
                Cornerstone
              </span>
            </div>
          </div>
        </a>
      </li>
      <li role="presentation">
        <a href="#BAP" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon BAP"></div>
            <div class="text">
              <span class="category">
                Consulting
              </span>
              <div class="underline"></div>
              <span class="title">
                Boarding School Application
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="cornerstone">
        <div class="text-content">
          <div class="paragraph">
            Cornerstone is an interdisciplinary program of literature and humanities intended for students in grades 6 – 9. The program not only builds a solid academic foundation for improvement in the here and now but also expands the potential of its students to perform at an even higher level in the future. Cornerstone has been tailor-made to help students maintain their GPA along with holistically developing skills that will translate into higher standardized test scores. The program consists of 3 levels: 100, 200, 300. Each level builds in students a unique skill set necessary to achieving excellence at every level of schooling. Cornerstone’s aim has and always will be to transform its students into conscious, passionate and capable individuals who can succeed in the classroom and more importantly in life.
          </div>

          <h2>Cornerstone 100: Understanding</h2>
          <div class="paragraph">
            Cornerstone 100 is the most fundamental level which allows students to develop skills in understanding the general framework of a text through characters and themes. The literature portion of class focuses on testing a student’s general grasp of the language through evidence-based reading, quotation selection and introductory level close reading analysis while humanities gives students a chance to be exposed to U.S. history through primary and secondary source readings. 
          </div>


          <h2>Cornerstone 200: Critical Thinking</h2>
          <div class="paragraph">
            Cornerstone 200 is the program’s intermediate level which allows students to develop inference and critical thinking skills to understand the subtext and deeper meaning of a work. At this level, the literature portion of class moves away from general understanding to close reading analysis, literary terms, citation-based writing and a taste of visual analysis. The humanities section continues student learning in evidence-based reading through longer texts that touch on a variety of subject matter such as science, business and technology. 
          </div>

          <h2>Cornerstone 300: Synthesis</h2>
          <div class="paragraph">
            Cornerstone 300 is the program’s highest level which allows students to develop skills in synthesizing different texts and sources from a variety of disciplines to create a new whole. At this level, literature and humanities work together to bring about a greater understanding of a text and its themes. Students use close reading analysis, visual analysis and evidence-based reading to ultimately create a longer citation-based essay. Subject matter is chosen according to time period and cut across disciplines as varied as political science, philosophy, psychology, science and history.
          
          </div>

          <h2>Cornerstone Math</h2>
          <div class="paragraph">
            Cornerstone Math is a program specifically designed to help young students develop a strong base in fundamental mathematics to provide an easier path to advanced mathematics in boarding school, upper level high school math, and standardized tests. The program combines problem set drilling with theory and application, and this delicate balance will prove to be an invaluable skill set for students in the future.
          </div>

         

        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="BAP">
        <div class="text-content">
          <div class="paragraph">
            The Boarding School Application Program is for elementary and middle school students who wish to go abroad to attend prestigious boarding schools. Our consultants help the student formulate a school list and guide the student through each required step related to admissions, from standardized test scheduling and preparation, application content, parent statements, and essay completion. 
          </div>
          <div class="paragraph">
            One of the hallmarks of Keystone's Boarding School Application program is our multi-phase interview engagement, where the student will go through Keystone's very own interview intensive to prepare for arguably the most important aspect of boarding school applications. With boarding school acceptances becoming increasingly difficult for all applicants, we believe the interview is where students have an opportunity to distinguish themselves from the rest of the applicant pool.
          </div>
          <div class="paragraph">
            The Boarding School Application Program is highly selective, and we only select a very limited number of students per year. Families are required to interview with our team of consultants to ensure expectations are understood, and the fit is solid between our consultants and the family. In many ways, boarding school applications are more complicated than college applications, and our experienced consultants help demystify the process by navigating through the applications with detailed, hands-on assistance.
          </div>
          <div class="paragraph">
            All aspects of the application process are handled in-house; students have access to our SSAT test preparation services, and the consultants make sure that the students are well prepared for the exam. The essay is the most time consuming process that requires a lot of brain storming and draft editing, and we are able to apply our knowledge of college application essays to boarding school application essays to help students finalize personal statements that set them apart from the competition.
          </div>
        </div>

      </div>
    </div>

  </div>
</section>



<section class="sub-nav">
  <div class="sub-nav-container">
      <div class="sub-nav-button active">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">5<sup>th</sup> - 8<sup>th</sup></span>
        </div>
      </div>
    <a href="/service/grade8">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">8<sup>th</sup> - 11<sup>th</sup></span>
        </div>
      </div>
    </a>
    <a href="/service/grade11">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">11<sup>th</sup> - 12<sup>th</sup></span>
        </div>
      </div>
    </a>
  </div>
</section>
