<section class="grade-main">
  <div class="grade-main-text">
    <span class="grades-text">
      Grades
    </span>
    <div class="underline"></div>
    <span class="grades-number">
      11<sup>th</sup> - 12<sup>th</sup>
    </span>
  </div>

</section>



<section class="grade-content" data-controller="Grade5" data-action="initTabs">
  <div role="tabpanel">

    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#test-prep" aria-controls="home" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon test-prep"></div>
            <div class="text">
              <span class="category">
                Academic Prep
              </span>
              <div class="underline"></div>
              <span class="title">
                Test Preparation
              </span>
            </div>
          </div>
        </a>
      </li>
      <li role="presentation">
        <a href="#CAPstone" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon capstone"></div>
            <div class="text">
              <span class="category">
                Consulting
              </span>
              <div class="underline"></div>
              <span class="title">
                CAPstone
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="test-prep">
        <div class="text-content">
        
          <div class="paragraph">
            Keystone's Test Prep service is designed to provide top-notch test prep to function in tandem with the Consulting division. We provide instructors whose time-tested curricula have resulted in success for thousands of our students hailing from many different countries through our programs that take place in Seoul, Hong Kong, and New York.
          </div>

          <a class="anchor" name="SAT" href="#SAT"></a>
          <h1><a href="#SAT">SAT</a></h1>
          <div class="paragraph">
            Our internationally renowned SAT Test Prep service is split into two main units, (1) Core and (2) Intensive, in order to best help students reach their highest possible score effectively and efficiently, on all three sections of the exam: Critical Reading, Math, and Writing (with Essay).
          </div>
          <div class="paragraph">
            Core: introduces first time Keystone students (and / or students who score below 650 on the Writing and Critical Reading sections) to proprietary Keystone techniques through drill based lectures to perfect fundamentals (students can advance to the Intensive program upon completion of the Core program).
          </div>
          <div class="paragraph">
            Intensive: for students who’ve attended Keystone classes before (and / or students who score above 650 on the Writing and Critical Reading sections), and who need intensive preparation for live tests.
          </div>

          <h1>New SAT</h1>

          <div class="paragraph">
            Due to loss of market share to ACT and the growing criticism of its current model, College Board announced last year that SAT will go through an overhaul. However, this is aligned with its past practice: every ten years or so, College Board goes through a redesign of its college entrance exam, the current one having been implemented exactly ten years ago. While the public is debating whether the revisions would make the test a better indicator of college performance for high school kids, students and parents are more concerned with a more practical question: is it harder or easier?
          </div>
          <div class="paragraph">
            The simple answer is, it is both. In certain sections, and for certain groups, the test would be easier. One of the first changes you’d notice about the reading section is that it will no longer test you on obscure words through sentence completion questions. In this regard, students with a less than stellar vocabulary or has problem memorizing 3000+ words, they’d find the test easier to digest. But that also means, they’ve taken away the one portion of the reading section that students could actually study for in a relatively short period of time and see meaningful improvements. 
          </div>

          <div class="paragraph">

            Passage-based questions will also go through revisions, but based on the blueprint released by the College Board, the concepts tested will remain pretty much the same with two notable exceptions: the inclusion of graphical data and incorporation of grammar-based questions into the reading passage. The College Board has announced that the passages themselves will be of different stock, for example, the use of Founding documents, but in all likelihood, the questions would require the same basic critical reading skills. 
          </div>
          <div class="paragraph">
            Essays have definitely become more difficult as it has moved away from its argumentative format to an analytical one. It now requires the students to critically read and analyze a passage, a task that requires a combination of both reading and writing skills of the highest order. While it is denoted as being optional, the essay would in all likelihood be required by most top universities as it is currently the case with the ACT optional essay.

          </div>
          <div class="paragraph">
            Keystone’s response to the changes has been an in-house development of both short-term and long-term training regimen that focuses on the primary objective of the redesigned SAT, evidence-based reading and writing, and on the fundamental skills common in both the old and the new models. 
          </div>

          <h1>Subject Tests</h1>
          <div class="paragraph no-padding">
            Subject Test preparation classes are run in both group and private 1:1 sessions. Keystone has instructors who cover almost all subject tests for both the SAT and AP level.
          </div>

          <h2>SAT</h2>

          <h6>Math & Sciences</h6>
          <ul>
            <li>Math Level 1 & 2</li>
            <li>Biology E/M</li>
            <li>Chemistry</li>
            <li>Physics</li>
          </ul>

          <h6>Humanities & Social Sciences</h6>
          <ul>
            <li>English Literature</li>
            <li>US History</li>
            <li>World History</li>
          </ul>

          <h6>Languages</h6>
          <ul>
            <li>Korean with Listening</li>
            <li>Chinese with Listening</li>
            <li>Spanish with Listening</li>
          </ul>


          <h2>Advanced Placement</h2>
          <h6>Math & Sciences</h6>
          <ul>
            <li>Calculus AB & BC</li>
            <li>Statistics</li>
            <li>Biology</li>
            <li>Chemistry</li>
            <li>Physics 1 & 2</li>
            <li>Physics C: Electricity and Magnetism & Mechanics</li>
            <li>Environmental Science</li>
          </ul>

          <h6>Humanities & Social Sciences</h6>
          <ul>
            <li>English Literature and Composition</li>
            <li>English Language and Composition</li>
            <li>Art History</li>
            <li>US History</li>
            <li>World History</li>
            <li>European History</li>
            <li>Government and Politics: Comparative & United States</li>
            <li>Macroeconomics</li>
            <li>Microeconomics</li>
            <li>Psychology</li>
          </ul>

          <h6>Languages</h6>

          <ul>
            <li>Chinese Language and Culture</li>
            <li>Spanish Language & Literature</li>
          </ul>
          

          <br/>
          <h1>ACT</h1>
          <div class="paragraph">
            There has been a steep rise over the last few years in the number of students taking the ACT exam for college entrance. Our instructors prepare students for all sections of the ACT: English, Mathematics, Reading, Science Reasoning, Writing. After assessing the student's level, we build students' skills from the ground up to ensure that the students are able to handle the more difficult questions en route to their highest expected score.
          </div>


          <h1>ISEE / SSAT</h1>
          <div class="paragraph">
            Students who aspire to attend prestigious private and boarding high schools in the United States are required to take either the ISEE or the SSAT exam (depending on school and region). The ISEE / SSAT test preparation program runs in conjunction with our Boarding School Application program, and our instructors bring years of experience to the classroom to help students advance through our various levels of ISEE / SSAT preparation.
          </div>

          <h1>TOEFL</h1>
          <div class="paragraph">
            The TOEFL exam is usually required for all international students, and Keystone has designed a specific program for TOEFL preparation based on years of experience preparing students in Seoul for attending school in the United States.
          </div>

        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="CAPstone">
        <div class="text-content">

  

          <div class="paragraph">
            The college admissions season is one of the most important moments in students' lives. After all, how they approach this part of their academic journey will have far-reaching effects to their future. But as much as the students are filled with anticipation and excitement, they are often left dazed and confused by the process. While the administrative process itself has become easier with more schools embracing the online Common Application, the qualitative process that takes place behind the gates of the top universities is becoming increasingly convoluted and unpredictable. As a result, more and more students and parents are turning to professional consulting services to guide them through the college admissions process, especially with the competition getting worse with each academic year.
          </div>
          <div class="paragraph">
            Keystone College Application Program (CAP) (grades 11 - 12) has stood at the forefront of and has served as a benchmark for the educational consulting industry in Korea for the past eight years. With the consistently high success rate and incomparable customer satisfaction, CAP has seen its students get into some of the top universities in the world, mainly in the United States. Staffed by experts with extensive experience and knowledge in the matter, CAP program is operated exclusively under limited memberships divided into Elite and Premium members.
          </div>
          <div class="paragraph">
            Every year, we accept at most five Premium members who are given highly-customized services that include a full range of support and guidance required for a successful application process. In addition, many of the limits on the services for the Elite members do not apply to the Premium members such as the restriction on the number of colleges or different pricing for special programs. Premium package is a flexible program that offers the entire resources of the CAP staff to deal with any issue that may arise during the application process. With the ever more complex and competitive college admissions process, our Premium membership offers the ideal range of services to ensure the best possible result for the student.
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="sub-nav">
  <div class="sub-nav-container">
    <a href="/service/grade5">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">5<sup>th</sup> - 8<sup>th</sup></span>
        </div>
      </div>
    </a>
    <a href="/service/grade8">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">8<sup>th</sup> - 11<sup>th</sup></span>
        </div>
      </div>
    </a>
      <div class="sub-nav-button active">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">11<sup>th</sup> - 12<sup>th</sup></span>
        </div>
      </div>
  </div>
</section>
