<section class="grade-main">
  <div class="grade-main-text">
    <span class="grades-text">
      Grades
    </span>
    <div class="underline"></div>
    <span class="grades-number">
      8<sup>th</sup> - 11<sup>th</sup>
    </span>
  </div>

</section>



<section class="grade-content" data-controller="Grade5" data-action="initTabs">
  <div role="tabpanel">

    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#test-prep" aria-controls="home" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon enrichment"></div>
            <div class="text">
              <span class="category">
                Academic Prep
              </span>
              <div class="underline"></div>
              <span class="title">
                Curricular Enrichment
              </span>
            </div>
          </div>
        </a>
      </li>
      <li role="presentation">
        <a href="#BAP" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon milestone"></div>
            <div class="text">
              <span class="category">
                Consulting
              </span>
              <div class="underline"></div>
              <span class="title">
                Milestone
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="test-prep">
        <div class="text-content">
          <div class="paragraph">
            Maintaining a high GPA in school is imperative to gaining admissions to some of the most prestigious universities abroad. However, not all GPA is created equal; universities take into account the rigor of the student's high school curriculum when assessing the value of a student's GPA. Students who wish to gain admissions to top tier universities abroad must strive to receive high grades while undertaking the most challenging courses that they can handle. For example, a 4.0 GPA in an AP level course load is valued higher than a 4.0 GPA in a standard course load. One of Keystone's greatest strengths is helping students get ahead of their academic coursework so that the students are able to successfully tackle their schoolwork head on during their high school years.
            
          </div>
          <div class="paragraph">
            Keystone instructors use their expertise in their respective subjects to tutor students of all ages in their school work. We provide customized private 1:1 tutorial services for students who wish to get ahead of their school curriculum in order to increase and maintain their school GPA. This allows students to take on advanced level coursework in high school and perform at their highest level, while also freeing up their time to focus and prepare for standardized tests that are required for university admissions. Our enrichment program is highly customized to the student's needs, level, and schedule, to ensure a cooperative learning environment that maximizes the student's ability to learn.
            
          </div>

          <div class="paragraph">
            Many of our enrichment programs are held at the Seoul and Hong Kong offices to provide students with face to face help. Both offices share our network of expansive resources to ensure that students can receive help wherever they are, even if our instructors and students are in different locations. This is accomplished by utilizing online web conferencing software and online teaching tools so our instructors are able to teach any subject to students anywhere around the world. The broad scope of our services is our greatest advantage, and the primary reason why our students consistently outperform their competition.
            
          </div>

          <div class="diagram"><img src="../images/grades-09-11-curricular-enrichment-chart@2x.png"></div>

        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="BAP">
        <div class="text-content">


          <div class="paragraph">
            The Milestone Program (grades 8 - 11) is one of Keystone’s customized annual membership-only consulting services, primarily aimed at holistically developing a student’s candidate profile in preparation for the college application process.
          </div>
          <div class="paragraph">
            The key to receiving admissions to top universities is strategically assembling the various attributes of the student’s academic profile into a cohesive package, while showcasing some of the student’s key strengths and competitive edge, differentiating the student from the thousands of global applicants. 
          </div>
          <div class="paragraph">
            Many students regrettably go through high school without cultivating their overall profile, resulting in them scrambling around during their 11th grade summer break hoping to squeeze out that last community service activity to fill the gaps in their college applications. Admissions officers see through this poorly thought out, randomized “resume padding” strategy, making it difficult for candidates to gain acceptances to some of the most prestigious universities.
          </div>
          <div class="paragraph">
            Keystone consultants work closely with Milestone students to strategically build their profiles years in advance to develop the student’s application theme, through GPA management, extracurricular activity involvement, standardized test preparation, and mentorship. The Milestone Program fosters the various elements of the student’s profile, and bridges the student into the College Application Program (CAP), where the elements are then pieced together into a final product that becomes the content of the college application to the student’s dream university.
          </div>
        </div>


      </div>
    </div>

  </div>
</section>

<section class="sub-nav">
  <div class="sub-nav-container">
    <a href="/service/grade5">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">5<sup>th</sup> - 8<sup>th</sup></span>
        </div>
      </div>
    </a>
      <div class="sub-nav-button active">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">8<sup>th</sup> - 11<sup>th</sup></span>
        </div>
      </div>
    <a href="/service/grade11">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">11<sup>th</sup> - 12<sup>th</sup></span>
        </div>
      </div>
    </a>
  </div>
</section>
