<section class="home-main" data-controller="Home">
	<div class="home-main-overlay">
	</div>
	<div class="home-main-text">
		<h1 class="home-main-text-title">Hi, We are Keystone</h2>
		<h2 class="home-main-text-sub">Expert in Education Consulting</h2>
	</div>
</section>
<section class="home-carousel" data-controller="Home" data-action="initCarousel">
    <ul class="home-carousel-list js-home-carousel-list">
    <li class="home-carousel-item about">
          <a href="/about">
            <div class="overlay">
            </div>
            <div class="home-carousel-item-content"> 
              <span class="title">About</span>
              <span class="sub">The Keystone Advantage</span>
              <div class="more-button">More</div>
            </div>
          </a>
        </li>
        <li class="home-carousel-item service">
          <a href="/service">
            <div class="overlay">
            </div>
            <div class="home-carousel-item-content"> 
              <span class="title">Service</span>
              <span class="sub">Excellence in Education</span>
              <div class="more-button">More</div>
            </div>
          </a>
        </li>
        <li class="home-carousel-item summer">
          <a href="/summer">
            <div class="overlay">
            </div>
            <div class="home-carousel-item-content"> 
              <span class="title">Summer Courses</span>
              <span class="sub">Ahead of the Competition</span>
              <div class="more-button">More</div>
            </div>
          </a>
        </li>
        <li class="home-carousel-item keystory">
        	<a href="/keystory">
        		<div class="overlay">
      			</div>
      			<div class="home-carousel-item-content"> 
        			<span class="title">Keystory</span>
        			<span class="sub">Tales of Success</span>
	        		<div class="more-button">More</div>
      			</div>
      		</a>
        </li>
        <!-- <li class="home-carousel-item conatct">conatct</li> -->
        <li class="home-carousel-item career">
        	<a href="/career">
        		<div class="overlay">
      			</div>
      			<div class="home-carousel-item-content"> 
        			<span class="title">Career</span>
        			<span class="sub">Growing Together</span>
	        		<div class="more-button">More</div>
      			</div>
      		</a>
        </li>
        
    </ul>


  <div class="control-left"></div>    
  <div class="control-right"></div>		
</section>




	

<!-- {{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>eugene@altitudelabs.com</strong> and the password <strong>eugene</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>
</div> -->
