<section class="summer-main">
  <div class="summer-main-text">
    <h1 class="title">{{{data.title}}}</h1>
    <h2 class="sub">{{{data.tagline}}}</h2>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Summer" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>

<section class="text-content">
  {{{data.content}}}
</section>
