<section class="service-main">
  <div class="service-main-text">
    <h1 class="title">Service</span>
    <h2 class="sub">Excellence in Education</span>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Service" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>

<section class="timeline-section">
  <!-- <img class="running-man" src="../images/runningdude12.png"> -->
  <img class="diagram" src="../images/timeline.jpg">
  <!-- <div class="underline"></div> -->
</section>

<section class="service-regular-programs">
  <section class="grade-5">
    <a href="/service/grade5" class="disabled-mobile">
      <div class="title">
        <span class="grades-text">Grades</span>
        <div class="underline"></div>
        <span class="grades-number">5<sup>th</sup>  - 8<sup>th</sup> </span>
      </div>
    </a>
    <section class="course-list">
        <div class="course-item">
          <a href="/service/grade5#cornerstone" class="disabled-mobile">
            <div class="course-icon cornerstone"></div>
            <div class="course-title">
              <div class="category">Academic Prep</div>
              <div class="underline"></div>
              <div class="name">Cornerstone</div>
            </div>
            <div class="description">Cornerstone is an interdisciplinary program of literature and humanities intended for young students</div>
            <div class="more mobile-only">
              <a href="/service/grade5#cornerstone">learn more</a>
            </div>
          </a>
        </div>
      <div class="separator"></div>

      <div class="course-item">
        <a href="/service/grade5#BAP" class="disabled-mobile">

          <div class="course-icon BAP"></div>
          <div class="course-title">
            <div class="category">Consulting</div>
            <div class="underline"></div>
            <div class="name">Boarding School Application</div>
          </div>
          <div class="description">BAP is for elemantary and middle school students who wish to go abroad to attend prestigious boarding schools</div>
          <div class="more mobile-only">
            <a href="/service/grade5#BAP">learn more</a>
          </div>
        </a>
      </div>
    </section>
  </section>

  <section class="grade-8">
    <a href="/service/grade8" class="disabled-mobile">
      <div class="title">
        <span class="grades-text">Grades</span>
        <div class="underline"></div>
        <span class="grades-number">8<sup>th</sup>  - 11<sup>th</sup> </span>
      </div>
    </a>
    <section class="course-list">

      <div class="course-item">
        <a href="/service/grade8#enrichment" class="disabled-mobile">

          <div class="course-icon enrichment"></div>
          <div class="course-title">
            <div class="category">Academic Prep</div>
            <div class="underline"></div>
            <div class="name">Curricular Enrichment</div>
          </div>
          <div class="description">Maintaining a high GPA in school is imperative to gaining admissions to some of the most prestigious universiteis abroad</div>
          <div class="more mobile-only">
            <a href="/service/grade8#enrichment">learn more</a>
          </div>
        </a>

      </div>
      <div class="separator"></div>
      <div class="course-item">
        <a href="/service/grade8#milestone" class="disabled-mobile">
          <div class="course-icon milestone"></div>
          <div class="course-title">
            <div class="category">Consulting</div>
            <div class="underline"></div>
            <div class="name">Milestone</div>
          </div>
          <div class="description">The Milestone Program is one of Keysonte's customized annual membership-only consulting services</div>
          <div class="more mobile-only">
            <a href="/service/grade8#milestone">learn more</a>
          </div>
        </a>
      </div>
    </section>
  </section>
  <section class="grade-11">
    <a href="/service/grade11" class="disabled-mobile">
      <div class="title">
        <span class="grades-text">Grades</span>
        <div class="underline"></div>
        <span class="grades-number">11<sup>th</sup> - 12<sup>th</sup> </span>
      </div>
    </a>
    <section class="course-list">
      <div class="course-item">
        <a href="/service/grade11#test" class="disabled-mobile">

          <div class="course-icon test"></div>
          <div class="course-title">
            <div class="category">Academic Prep</div>
            <div class="underline"></div>
            <div class="name">Test Preparation</div>
          </div>
          <div class="description">Keystone's Test Prep service is designed to provide top-notch test prep to function in tandem with the Consulting divison</div>
          <div class="more mobile-only">
            <a href="/service/grade11#test">learn more</a>
          </div>
        </a>
      </div>

      <div class="separator"></div>

      <div class="course-item">
        <a href="/service/grade11#CAPstone" class="disabled-mobile">

          <div class="course-icon capstone"></div>
          <div class="course-title">
            <div class="category">Consulting</div>
            <div class="underline"></div>
            <div class="name">CAPstone</div>
          </div>
          <div class="description">The college admissions season is on of the most important moments in students' lives</div>
          <div class="more mobile-only">
            <a href="/service/grade11#CAPstone">learn more</a>
          </div>
        </a>
        <!-- <a class="mobile-more" href="/service/grade11#CAPstone">learn more</a> -->
      </div>

    </section>
  </section>
</section>

<section class="service-special-programs">
  <div class="special-programs-title">
    <!-- <div class="underline"></div> -->
    <span class="text">Our Special Programs</span>
  </div>
  <div class="content">
    <section class="bootcamp">
      <a href="/bootcamp">
        <div class="overlay"></div>
        <div class="content">
          <span class="title">Bootcamp</span>
          <span class="sub">Daily intensive camp programs for last minute preparation to boost scores before major standardized tests</span>
          <div class="more-button">More</div>
        </div>

      </a>
    </section>
    <section class="snapshot">
      <a href="/snapshot">
        <div class="overlay"></div>
        <div class="content">
          <span class="title">Snapshot</span>
          <span class="sub">One-time (60 - 90 minutes) advisory service</span>
          <div class="more-button">More</div>
        </div>
      </a>
    </section>
  </div>
</section>
