<section class="snapshot-main" data-controller="Snapshot" data-action="initSwitchHero">
  <div class="overlay"></div>
  <div class="snapshot-main-text">
    <h1 class="title">Snapshot</span>
    <h2 class="sub">One-time (60-90 minutes) Advisory Service</span>
  </div>
</section>


<section class="text-content">



  <div class="paragraph">
    Snapshot Consulting is a one-time (60 - 90 minutes) advisory service, where our expert consulting directors sit down with the family to assess the student's current academic standing, in order to help the student develop the most optimal forward-looking strategy for college admissions.
  </div>

  <div class="paragraph">
    There are many important elements that go into defining a student's application profile, and the key is identifying these areas and to enhance their strengths and improve their weaknesses. Our consultants will help the student come up with a tentative college list based on their current academic standing, and will analyze the student's application profile (GPA, Standardized Tests, Extracurricular Activities, etc.), identify any glaring gaps, and determine what steps the student needs to take in order to optimize the student's chances of gaining admissions to their top college choices.
  </div>

  <div class="paragraph">
    It is important to get this process started early because it gives us an opportunity to map out a long term plan for the student to then go ahead and execute, step-by-step. Some key advice that we provide to families is what types of classes the student should take throughout high school, when and what standardized tests to take, and what types of activities / internships / summer programs the student should pursue in order to highlight the student's interests and passions. After completion of the service, we will provide in-depth, quantitative and qualitative assessment reports for the family to take home as a guideline to the student's future.
  </div>
</section>







