<section class="summer-main">
  <div class="summer-main-text">
    <h1 class="title">Programs</h1>
    <h2 class="sub">Ahead of the Competition</h2>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Summer" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>


<section class="text-content">
  <div class="paragraph">
    Take advantage of the summer break to get ahead of the competition by preparing for tests and the upcoming school semester.
  
  </div>

  <div class="paragraph">
    This summer we will be offering a full program of courses in standardized testing, writing skills, and subject previews. We will be opening courses for students preparing to take the SAT, ACT, or SSAT exams in the coming months, as well as our Cornerstone program, designed as a holistic literature and humanities approach to building critical thinking skills. In addition, we will hold a Writing course for high school students looking to improve their analytical writing skills for various academic pursuits.
  </div>
  <div class="paragraph">
    In August, our Hong Kong office will hold a special three-week session specifically geared towards Previews for upcoming Fall semester courses. As students prepare for the new school year, Previews will give them a head-start.
  </div>
  <div class="paragraph">
    In addition to our standard programs, our Seoul, Korea office will hold 10-day, Daily Intensive programs for students whose travel availabilities are less flexible, as well as for students who want shorter, intensive bursts of preparation.
  </div>

  <div class="links">
    <span>For more information, please see below:</span>
    <h3></h3>

    <h4>HONG KONG</h4>
    <h6>Session 1: June 15 - July 11, 2015</h6>
    <h6>Session 2: July 13 - August 8, 2015</h6>
    <h6>Previews: August 10 - 29, 2015</h6>
    <div class="link">
      <a href="https://www.dropbox.com/s/5ajhggql1wqhn3z/course%2Bschedule%2B-%2Bsummer%2B2015%2B-%2Bkeystone%2BHK%2B%281%29%20%281%29.pdf?dl=1">
        Keystone HK Summer 2015 Course Schedule 
      </a>
    </div>
    <h3></h3>

    <h4>SEOUL, KOREA</h4>
    <h6>Session 1: June 8 - June 30, 2015</h6>
    <h6>Session 2: July 1 - July 23, 2015</h6>
    <h6>Session 3: July 27 - August 18, 2015</h6>
    <h3></h3>
    <h6>Daily Session 1: July 13 - July 24, 2015</h6>
    <h6>Daily Session 2: August 3 - August 14, 2015</h6>
    <h6>Daily Session 3: August 19 - August 29, 2015</h6>
    <div class="link">
      <a href="https://www.dropbox.com/s/otrky9mo4th6k2e/course%2Bschedule%2B-%2Bsummer%2B2015%2B-%2Bkeystone%2BKR.pdf?dl=1">
        Keystone Seoul Summer 2015 Course Schedule
      </a>
    </div>
  </div>
</section>







