<section class="summer-main" data-controller="Summer" data-action="initSwitchHero">
  <div class="summer-main-text">
    <h1 class="title">Summer Courses</span>
    <h2 class="sub"></span>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Summer" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>


<section class="text-content">
  <div class="paragraph">
    Take advantage of the summer break to get ahead of the competition by preparing for tests and the upcoming school semester
  </div>

  <div class="paragraph">
    This summer we will be offering a full program of courses in standardized testing, writing skills, and subject previews. We will be opening courses for students preparing to take the SAT, ACT, or SSAT exams in the coming months, as well as our Cornerstone program, designed as a holistic literature and humanities approach to building critical thinking skills. In addition, we will hold a Writing course for high school students looking to improve their analytical writing skills for various academic pursuits.
  </div>
  <div class="paragraph">
    In August, we will hold a special three-week session specifically geared towards Previews for upcoming Fall semester courses. As students prepare for the new school year, Previews will give them a head-start.
  </div>

  <h6>Session 1: June 15 - July 11, 2015</h6>
  <h6>Session 2: July 13 - August 8, 2015</h6>
  <h6>Previews: August 10 - 29, 2015</h6>
</section>







