
.grade-main {
  /*@include background-cover-image($service-main-url);*/
  height: 230px;
  /*min-height: 500px;*/
  background-color: $main-red;
  position: relative;
  @media (max-width: $mobile-width) {
    height: 150px;
  }

}

.grade-main-text {
  color: white;
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  @media (max-width: $mobile-width) {
    top: 40px;

  }

  .grades-text {
    /*font-weight: bold;*/
    font-size: 20px;
    @media (max-width: $mobile-width) {
      /*font-size: 20px;*/
    }
  }
  .underline {
    margin: auto;
    width: 25px;
    height: 1px;
    background-color: white;
    margin-bottom: 10px;
    @media (max-width: $mobile-width) {
      width: 20px;
    }
  }
  .grades-number {
    font-weight: bold;
    font-size: 50px;
    @media (max-width: $mobile-width) {
      font-size: 30px;
    }
    sup {
      /*color: $main-red;*/
      font-size: 20px;
      vertical-align: top;
      line-height: 65px;
    }
  }
  
}

.grade-content {
  width: 100%;
  position: relative;

/*  .tabpanel {
    height: 202px;
    position: relative;
  }*/
  .nav-tabs {
    height: 330px;
    @media (max-width: $mobile-width) {
      height: 210px;
    }

    position: relative;

    /* override bootstrap */
    border: none;
    li, li.active {
      a {
        padding: 0px;
        border: none;
        &:hover {
          padding: 0px;
          border: none;
          background-color: transparent;
        }
      }
      width: 50%;
    }

    /* other styling */
    li , li.active {
      position: relative;
      height: 100%;
      .tab-button {
        padding: 50px 15px 20px 15px;
        height: 330px;


        @media (max-width: $mobile-width) {
          padding: 30px 10px 10px 10px;
          height: 210px;
        }
      }
      /*.test-prep, .*/
      .icon {
        padding-top: 35px;
        height: 130px;
        @media (max-width: $mobile-width) {
          height: 70px;
        }
        &.test-prep {
          @include background-contain-image($test-icon);
        }
        &.BAP {
          @include background-contain-image($bap-icon);

        }
      }

      .text {
        padding-top: 20px;
        text-align: center;

        .category {
          font-size: 16px;
          @media (max-width: $mobile-width) {
            font-size: 14px;
          }
          /*font-weight: bold;*/
        }
        .underline {
          height: 1px;
          width: 30px;
          margin: 3px auto 6px auto;
          background-color: black;
          @media (max-width: $mobile-width) {
            width: 20px;
          }
        }
        .title {
          font-weight: bold;
          font-size: 22px;
          @media (max-width: $mobile-width) {
            font-size: 16px;
          }
        }
      }
    }
    li:first-child {
      border-right: 1px solid transparent;

      &:not(.active) {
        border-right: 1px solid $main-red;
        border-bottom: 1px solid $main-red;
      }
    }
    li:last-child {
      border-left: 1px solid transparent;

      &:not(.active) {
        border-left: 1px solid $main-red;
        border-bottom: 1px solid $main-red;
      }
    }

    li:not(.active) {
      background-color: $light-grey;
    }

  }


  .tab-content {
    
  }

}




.sub-nav {
  .sub-nav-container {
    width: 70%;
    max-width: 1000px;
    /*padding: 80px 0 0 0;*/
    margin: auto;
    height: 150px;
    position: relative;
    @media (max-width: $tablet-width) {
      display: none;
      /*width: 90%;*/
      /*min-width: 280px;*/
    }
  }

  .sub-nav-button {
    width: 33%;
    float: left;
    display: inline-block;
    height: 100%;
    background-color: $light-grey;
    padding-top: 40px;
    @include transition();
    .content {
      text-align: center;
      color: $main-red;

      .grade-text {
        font-size: 10px;
        font-weight: bold;
      }
      .underline {
        width: 12px;
        background-color: $main-red;
        margin: auto;
        height: 1px;
        margin-bottom: 10px;
      }

      .grade-number {
        font-size: 30px;
        font-weight: bold;
      }
    }
    &:hover, &.active {
      background-color: $main-red;
      .content {
        color: white;
        .underline {
          background-color: white;
        }
      }
    }

  }

}

/*
<section class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-button">
      <div class="content">
        <span class="grade-text">Grades</span>
        <div class="underline"></div>
        <span class="grade-number">5<sup>th</sup> - 8<sup>th</sup></span>
      </div>
    </div>
    <div class="sub-nav-button"></div>
    <div class="sub-nav-button"></div>
  </div>
</section>*/
