$nav-height: 50px;

#header {
  height: $nav-height;
}

.nav-logo {
  display: inline-block;
  width: 200px;
  background: grey;
  height: $nav-height;
}

.nav-buttons {
  float: right;
  margin: 0;
  padding: 0 20px 0 0;
  height: $nav-height;
}

.nav-button {
  line-height: $nav-height;
  display: inline-block;
  padding: 0 15px 0 15px;
}



/*.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
*/
