/* =Table of Contents
--------------------------------------------------------------
  =layout
  =color
  =image url
-------------------------------------------------------------- */


/* =layout
* --------------------------------------------------------------------------*/
$nav-height: 70px;

$mobile-width: 600px;
$tablet-width: 900px;


/* =color
* --------------------------------------------------------------------------*/
$main-grey: #575656;
$light-grey: #F0F0F0;
$main-red: #B72025;
$dark-red: #9a0107;
$footer-grey: #323232;


/* =image url
* --------------------------------------------------------------------------*/
$home-main-url: '../heros/home.jpg';
$service-main-url: '../heros/service.jpg';
$service-main-url-mobile: '../heros/service_mobile.jpg';
$keystory-main-url: '../heros/keystory.jpg';
$keystory-main-url-mobile: '../heros/keystory_mobile.jpg'; /**/
$career-main-url: '../heros/career.jpg';
$career-main-url-mobile: '../heros/career_mobile.jpg';
$about-main-url: '../heros/about.jpg';
$about-main-url-mobile: '../heros/about_mobile.jpg';
$bootcamp-main-url: '../heros/bootcamp.jpg';
$bootcamp-main-url-mobile: '../heros/bootcamp_mobile.jpg';
$snapshot-main-url: '../heros/snapshot.jpg';
$snapshot-main-url-mobile: '../heros/snapshot_mobile.jpg';
$contact-main-url: '../images/contact-world-map@2x.png';
$summer-main-url: '../heros/summer_courses.jpg';
$summer-main-url-mobile: '../heros/summer_courses_mobile.jpg'; /**/

$arrow-down: '../images/call-to-action.png';

$cornerstone-icon: '../images/service-cornerstone@2x.png';
$bap-icon: '../images/service-boarding-school@2x.png';
$enrichment-icon: '../images/service-curricular-enrichment@2x.png';
$milestone-icon: '../images/service-milestone@2x.png';
$test-icon: '../images/service-test-preparation@2x.png';
$CAPstone-icon: '../images/service-capstone@2x.png';

$cornerstone-icon-hover: '../images/service-cornerstone-hover@2x.png';
$bap-icon-hover: '../images/service-boarding-school-hover@2x.png';
$enrichment-icon-hover: '../images/service-curricular-enrichment-hover@2x.png';
$milestone-icon-hover: '../images/service-milestone-hover@2x.png';
$test-icon-hover: '../images/service-test-preparation-hover@2x.png';
$CAPstone-icon-hover: '../images/service-capstone-hover@2x.png';


$contact-pin: '../images/contact-location-pin@2x.png';

$career-plus: '../images/career-plus.png';

$about-test: '../images/about-testprep.png';
$about-timeline: '../images/about-timeline@2x.png';
$about-timeline-mobile: '../images/about_timeline-mobile@2x.png';
$about-enrichment: '../images/about-enrichment@2x.png';

$quotes-url: '../images/about-quotes@2x.png';

/*$enrichment-illustration: '../*/

$carousel-control-left: '../images/home-carousel-left-arrow@2x.png';
$carousel-control-right: '../images/home-carousel-right-arrow@2x.png';
