html {
  height: 100%;
  margin: 0;
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: 'HelveticaNeueLTStd';
  /*color: #575656;*/
  /*font-size: 62.5%;*/
}
body {
  min-height: 100%;
  height: 1px;
  margin: 0;
  padding-top: $nav-height;
  width: 100%;
}
a {
  color: $main-grey;
  &:hover {
    color: $main-grey;
  }
}

@mixin background-cover-image($imgpath, $position: center center, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    size: cover;
  }
}


@mixin background-contain-image($imgpath, $position: center center, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    size: contain;
  }
}

@mixin transition($type: all, $duration: 500ms, $style: ease) {
  -webkit-transition: $type $duration $style;
  -moz-transition: $type $duration $style;
  -ms-transition: $type $duration $style;
  -o-transition: $type $duration $style;
  transition: $type $duration $style;
  @media (max-width: $mobile-width) {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* font - HelveticaNeueLTStd
 * --------------------------------------------------------------------------*/
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src:  url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.otf);
}
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src:  url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-MdIt.otf);
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src:  url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src:  url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BdIt.otf);
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'HelveticaNeueLTStd';
  src:  url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf);
  font-weight: lighter;
}

@font-face {
  font-family: 'HelveticaNeueLTStd';
  src:  url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtIt.otf);
  font-weight: lighter;
  font-style: italic;
}

/* Form
 * --------------------------------------------------------------------------*/

.contact-form {
  background: $main-red;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
  .title-small {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .underline {
    width: 40px;
    height: 2px;
    background: white;
    margin: auto;
    margin-bottom: 20px;
  }
  .title {
    font-size: 40px;
    color: white;
    font-weight: bold;

  }
  form {
    padding-top: 50px;
  }

  .form-group {
    width: 70%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding-bottom: 20px;
    input, textarea {
      color: white;
      border-radius: 0;
      border: 0px;
      font-size: 18px;
      background-color: $dark-red !important;
    }
    input {
      height: 60px;
      line-height: 60px;
    }
    ::-webkit-input-placeholder {
       color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: white;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: white;
    }
    :-ms-input-placeholder {
       color: white;
    }


  }
  button.send {
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    background: transparent;
    border: 2px solid white;
  }
}






/* Error Messages */

#mce-responses {
  .response {
    /* position: fixed; */
    /* border: 1px solid black; */
    color: white;
    font-size: 18px;
    width: 70%;
    margin: auto;
    /* min-width: 300px; */
    height: 77px;
    top: 20%;
    text-align: center;
    
    &#mce-success-response {
      /*background-color: green;*/
    }
    &#mce-error-response {
      /*background-color: red;*/
    }
  }

}

.alert-message {
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 999999999;
}
.alert-message .alert-success,
.alert-message .alert-info,
.alert-message .alert-danger {
  border: solid 1px;
  border-radius: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: middle;
  display: none;
}

/*input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $dark-red inset;
  -webkit-text-fill-color: white;
  transition: none;
}*/


