
.home-main {
  @include background-cover-image($home-main-url);
  height: 80%;
  min-height: 500px;
  position: relative;
  @media (max-width: $mobile-width) {
    height: 60%;
    min-height: 400px;
  }
  
}

.home-main-overlay {
  height: 100%;
  background-color: black;
  opacity: 0;
}

.home-main-text {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: white;
}

.home-main-text-title {
  font-weight: bold;
  font-size: 80px;
  @media (max-width: $mobile-width) {
    font-size: 30px;
  }
}
.home-main-text-sub {
  font-size: 40px;
  font-weight: lighter;
  @media (max-width: $mobile-width) {
    font-size: 20px;
  }
}


.home-carousel {
  position: relative;
  & .bx-controls.bx-has-controls-direction {
    display: none;
  }

  .control-left, .control-right {
    @media (max-width: $mobile-width) {
      display: none;
    }

    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    cursor: pointer;
  }


  .control-left {
    left: 0;
    @include background-contain-image($carousel-control-left);
  }
  .control-right {
    right: 0;
    @include background-contain-image($carousel-control-right);
  }
  /*
  :*/
  /*
<div class="control-left"></div>    
<div class="control-right"></div>   */
}

.home-carousel-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.home-carousel-item {
  height: 320px;
  position: relative;

  &.service {
    @include background-cover-image($service-main-url);
  }

  &.summer {
    @include background-cover-image($summer-main-url);
  }

  &.keystory {
    @include background-cover-image($keystory-main-url);
  }

  /*&.contact {
    @include background-cover-image($home-carousel-contact-url);
  }*/
  &.career {
    @include background-cover-image($career-main-url);
  }

  &.about {
    @include background-cover-image($about-main-url);
  }
  
  & .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition();

  }
  &:hover {
    /*cursor: pointer;*/
    & .overlay {
      background-color: $main-red;
      opacity: 0.8;
    }

    & .more-button {
      background: white;
      color: $main-red;
    }
  }

  @media (max-width: $mobile-width) {
    height: 230px;
  }



}
.home-carousel-item-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;

  & .title {
    display: block;
    font-weight: bold;
    color: white;
    margin-top: 100px;
    font-size: 30px;
    @media (max-width: $mobile-width) {
      margin-top: 50px;
    }
  }

  & .sub {
    display: block;
    margin-top: 0px;
    color: white;
    font-size: 15px;
    @media (max-width: $mobile-width) {
      /*display: none;*/
    }
  }

  & .more-button {
    @include transition();

    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 30px;
    color: white;
    width: 100px;
    line-height: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      backgroun: white;
    }
    @media (max-width: $mobile-width) {
      width: 80px;
      height: 30px;
      line-height: 30px;
      border: 1px solid white;
      font-size: 14px;
      /*font-weight: normal;*/
      border-radius: 6.5px;

      margin-top: 30px;

    }
  }
}
