.keystory-main {
  & * {

    @include transition();
  }
  @include background-cover-image($keystory-main-url);
  height: 85%;
  min-height: 500px;
  @media (max-width: $mobile-width) {
    @include background-cover-image($keystory-main-url-mobile);
    height: 60%;
    min-height: 400px;
  }
  position: relative;
  .scroll-down-container {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
  .scroll-down-button {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 18px;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 2px white solid;
    cursor: pointer;

    &:hover { 

    }
    div {
      width: 100%;
      height: 100%;
      @include background-contain-image($arrow-down);

    }
  }

   
}

.keystory-main-text {
  overflow-x: hidden;

  color: white;
  position: absolute;
  top: 35%;
  width: 74%;
  min-width: 250px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;

  .title {
    font-weight: bold;
    font-size: 80px;
    @media (max-width: $mobile-width) {
      font-size: 30px;
    }
  }
  .sub {
    /*display: none;*/
    font-size: 40px;
    font-weight: lighter;
    @media (max-width: $tablet-width) {
      display: block;
    }
    @media (max-width: $mobile-width) {
      font-size: 20px;
    }
  }
  h3 {
    margin-top: 30px;
  }
}


.keystory-testimonials {
  .quote-list {

    list-style: none;
    padding: 0;
    margin-bottom: 0px;

    .quote {
      &:nth-child(odd) {
        background: $light-grey;
      }
      &:nth-child(even) {
        background: white;
      }

      padding: 40px 15% 10px 15%;
      position: relative;
      /*text-align: justify;*/

      .quotes {
        width: 50px;
        height: 50px;
        margin: auto;
        @include background-contain-image($quotes-url);

       /* text-align: center;
        height: 80px;
        line-height: 80px;
        .open-quote {
          font-size: 80px;
          font-family: arial black regular;
          color: $main-red;

        }
        .close-quote {
          font-size: 20px;
          color: $main-red;
        }*/
      }
      .content {

        display: block;
        font-size: 20px;
        /*color: $main-red;*/
        
      }
      .credit {
        color: $main-red;
        text-align: right;
        padding: 30px;
      }
    }
  }
}


.connect {

}

/* ------ keystory2 ------*/

.quote.tag-line { 
  height: 300px;
  text-align: center;
  padding: 40px 3% 10px 3% !important;
  @media (max-width: $tablet-width) {
    height: 250px;
  }

  h1 {
    /*color: $main-red;*/
    font-weight: bold;
    margin-top: 85px;
    margin-bottom: 15px;
    @media (max-width: $tablet-width) {
      font-size: 30px;
      margin-top: 65px;
    }
  }
  .underline {
    height: 2px;
    background: $main-red;
    width: 40px;
    margin: auto;
  }

}
