<section class="grade-main">
  <div class="grade-main-text">
    <span class="grades-text">
      Grades
    </span>
    <div class="underline"></div>
    <span class="grades-number">
      5<sup>th</sup> - 8<sup>th</sup>
    </span>
  </div>

</section>



<section class="grade-content" data-controller="Grade5" data-action="initTabs">
  <div role="tabpanel">

    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#cornerstone" aria-controls="home" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon cornerstone"></div>
            <div class="text">
              <span class="category">
                {{{grade5.left.title}}}
              </span>
              <div class="underline"></div>
              <span class="title">
                {{{grade5.left.tagline}}}
              </span>
            </div>
          </div>
        </a>
      </li>
      <li role="presentation">
        <a href="#BAP" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="tab-button">
            <div class="icon BAP"></div>
            <div class="text">
              <span class="category">
                {{{grade5.right.title}}}
              </span>
              <div class="underline"></div>
              <span class="title">
                {{{grade5.right.tagline}}}
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="cornerstone">
        <div class="text-content">
          {{#preprocessContent grade5.left.content.mainContent}}{{/preprocessContent}}
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="BAP">
        <div class="text-content">
          {{#preprocessContent grade5.right.content.mainContent}}{{/preprocessContent}}
        </div>
      </div>
    </div>

  </div>
</section>



<section class="sub-nav">
  <div class="sub-nav-container">
      <div class="sub-nav-button active">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">5<sup>th</sup> - 8<sup>th</sup></span>
        </div>
      </div>
    <a href="/service/grade8">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">8<sup>th</sup> - 11<sup>th</sup></span>
        </div>
      </div>
    </a>
    <a href="/service/grade11">
      <div class="sub-nav-button">
        <div class="content">
          <span class="grade-text">Grades</span>
          <div class="underline"></div>
          <span class="grade-number">11<sup>th</sup> - 12<sup>th</sup></span>
        </div>
      </div>
    </a>
  </div>
</section>
